<div class="create">
  <h1 class="create-heading">Create Cooktail</h1>
  <form method="POST" action="/cooktail/store" class="create-form">
    <div class="form-group">
      <input
        type="text"
        class="form-input"
        name="name"
        placeholder="Name Cooktail"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-input"
        name="category"
        placeholder="Category"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-input"
        name="instruction"
        placeholder="Instruction"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-input"
        name="image"
        placeholder="Image Link"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-input"
        name="ingredients"
        placeholder="Ingredients"
      />
    </div>
    <button type="submit" class="form-submit">Save</button>
  </form>
</div>