<div class="mt-4">
  <div class="row">
    <h2 class="head__title">Welcome to My Cocktail</h2>
    {{#each cooktail}}
      <div class="col-sm-6 col-lg-3 mt-4">
        <div class="card custom-card" style="width: 18rem;">
          <a href="/cooktail/{{this.slug}}">
            <img src="{{this.image}}" class="card-img-top" alt="" />
          </a>
          <div class="card-body custom-card-body">
            <a href="/cooktail/{{this.slug}}">
              <h5 class="card-title">{{this.name}}</h5>
            </a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>